@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'Digital Numbers';
  font-style: normal;
  font-weight: 400;
  src: local('Digital Numbers'), url('https://res.cloudinary.com/production/raw/upload/v1723601771/Icons/VIP/DigitalNumbers-Regular.ttf') format('truetype');
}

@import './mixin.scss';

@import './carousel.min.css';
@import './TopNav.scss';
@import './BottomNav.scss';
@import './Leagues.scss';
@import './Specials.scss';
@import './dark-theme.scss';

@import './HomeScreen.scss';
@import './LiveNowScreen.scss';
@import './custom.scss';

body {
  font-family: Poppins;
}

.text-center {
  text-align: center;
}

.appscreen-container {
  @include dark-theme;
  height: 100vh;
  display: flex;
  flex-direction: column;
  .screen-container {
    flex: 1;
    padding-bottom: 64px;
    overflow: auto;
  }
}

.toplayer-container {
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 15px 0px 20px;
  .logo-container {
    img {
      display: block;
      height: 45px;
      width: auto;
    }
  }
  .toplayer-controls {
    display: flex;
    .btn-wallet, .btn-login {
      border-radius: 30px;
      display: block;
      line-height: 30px;
      margin-left: 6px;
      padding: 0 14px;
      font-weight: 600px;
      font-size: 13px;
    }
    .btn-wallet {
      display: flex;
      align-items: center;
      background: $color-orange;
      color: white;
      img {
        margin-right: 11px;
      }
    }
    .btn-login {
      background: white;
      color: #17191C;
    }
  }
}

.betsscreen-container, .casinoscreen-container, .rewardsscreen-container {
  height: 100%;
  overflow: auto;
  img {
    width: 100%;
    object-position: top;
  }
}
