@import './mixin.scss';

.specials-container {
  position: relative;
  padding: 20px 0 0;
  min-height: 140px;
  .specials-wrapper {
    // display: flex;
    // flex-wrap: nowrap;
    // overflow: auto;
    .specials-card {
      height: 100%;
      overflow: hidden;
      background: #252942;
      padding: 18px 14px 14px;
      margin: 0 8px;
      display: flex;
      flex-direction: column;
      font-size: 13px;
      line-height: 1.4;
      border-radius: 16px;
      transition: background 0.25s ease;
      @media only screen and (max-width: 480px) {
        // min-width: 320px;
        // flex: 0 0 calc(100% - 16px);
      }
      .special-card-label {
        color: $color-primary;
        font-weight: bold;
        margin-bottom: 4px;
        text-align: left;
      }
      .special-card-event {
        flex: 1;
        color: $color-primary;
        .special-card-event-heading {
          display: flex;
          justify-content: space-between;
          margin-bottom: 8px;
        }
        .special-card-event-name {
          font-size: 13px;
          font-weight: 600;
          line-height: 15px;
          text-align: left;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .special-card-type {
          font-size: 9px;
          font-weight: 700;
          line-height: 11px;
          color: #FFF;
          border-radius: 2px;
          border: 1px solid #B6A0FD;
          background: #6B43F2;
          padding: 1px 5px;
          margin-left: 14px;
        }
        .special-card-betOffers {
          .special-card-betOffer {
            display: flex;
            font-weight: 500;
            font-size: 9px;
            line-height: 13px;
            padding-left: 17px;
            position: relative;
            margin-bottom: 8px;
            img {
              width: 13px;
              height: 13px;
              position: absolute;
              left: 0;
            }
            .special-card-betOffer-outcome {
            }
            .special-card-betOffer-criterion {
            }
          }
        }
      }
      .special-card-odds {
        margin-top: 8px;
        box-sizing: border-box;
        flex: 0 0 44px;
        font-size: 11px;
        line-height: 13px;
        @include odd-button;
      }
    }
    .slide.selected {
      .specials-card {
        background: linear-gradient(125deg, #DABB08 2.6%, #305952 83.05%);
        box-shadow: 0px 4px 19.2px 0px rgba(0, 0, 0, 0.07);
      }
    }
  }
}

.dark {
  .specials-container {
    .specials-wrapper {
      .specials-card {
        .special-card-odds {
          background: #3C405F;
          .text2, .text {
            color: white;
          }
          &.active {
            background: #7E8196;
            .text2, .text {
              color: $color-orange;
            }
          }
        }
      }
    }
  }
}