@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'Digital Numbers';
  font-style: normal;
  font-weight: 400;
  src: local('Digital Numbers'), url('https://res.cloudinary.com/production/raw/upload/v1723601771/Icons/VIP/DigitalNumbers-Regular.ttf') format('truetype');
}

@import './assets/scss/mixin.scss';

@import './assets/scss/carousel.min.css';
@import './assets/scss/TopNav.scss';
@import './assets/scss/Leagues.scss';
@import './assets/scss/Specials.scss';
@import './assets/scss/dark-theme.scss';

.homescreen-container {
  @include dark-theme;
  font-family: Poppins;
}