.listviewmatches-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  font-size: 10px;

  color: #030515;
  .color-black {
    color: #030515;
  }
  .color-orange {
    color: #FB4F14;
  }
  .events-list-header {
    display: flex;
    padding: 8px;
    align-items: center;
    h1 {
      flex: 0 0 50%;
      margin: 0 8px 0 0;
    }
    .event-betinfo-cols {
      flex: 1;
      display: flex;
      justify-content: space-between;
      .event-betinfo-col {
        flex: 1;
        text-align: center;
      }
    }
  }
  .events-list {
    .event-details {
      margin: 1em 0;
      border-radius: 15px;
      overflow: hidden;
      background: #F7F8F9;
      .event-content {
        padding: 8px;
        .event-teams {
          .event-team {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 600;
            margin-bottom: 2px;
            &:last-child {
              margin-bottom: 0;
            }
            .event-team-name {
              flex: 0 0 50%;
              font-size: 13px;
              margin-right: 8px;
              display: flex;
              align-items: center;
              .score {
                background: #000;
                color: white;
                display: inline-block;
                text-align: center;
                width: 2em;
                height: 100%;
                margin-right: 4px;
              }
            }
            .event-betinfo-cells {
              flex: 1;
              display: flex;
              font-size: 11px;
              .event-betinfo-cell {
                flex: 1;
                background: #E7EAEE;
                padding: 0.5em 1em;
                margin-left: 2px;
                border-radius: 8px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }
      }
      .event-footer {
        padding: 8px 15px;
        display: flex;
        justify-content: space-between;
        background: #E7EAEE;
        .event-status {
          color: #FB4F14;
          border: solid 1px #FB4F14;
          border-radius: 15px;
          font-size: 9px;
          font-weight: 700;
          padding: 1px 5px;
          margin-right: 0.5em;
        }
        a {
          text-decoration: none;
          font-weight: 600;
        }
      }
    }
  }
}
