$color-orange: #FB4F14;
$color-black: #030515;

.listviewmatches-container {
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 10px;
  position: relative;

  color: $color-black;
  .color-black {
    color: $color-black;
  }
  .color-orange {
    color: $color-orange;
  }

  .listviewmatches-nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding: 14px 12px;
    background: #FFF;
    z-index: 9999;
    box-shadow: 0px 5px 10px 0px #97A0B242;
    .nav-link {
      font-size: 13px;
      font-weight: 600;
      margin: 0 12px;
      text-decoration: none;
      color: #64748B;
      &.active {
        color: $color-orange;
      }
    }
  }
  .specials-container {
    position: relative;
    padding: 1em 0;
    margin-top: 64px;
  }
  .specials-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    padding: 0 8px;
    &::-webkit-scrollbar {
      display: none;
    }
    .specials-card {
      min-width: 420px;
      border-radius: 15px;
      overflow: hidden;
      background: #F7F8F9;
      padding: 8px;
      margin-right: 8px;
      display: flex;
      flex-direction: column;
      font-size: 12px;
      line-height: 1.4;
      @media only screen and (max-width: 480px) {
        min-width: 320px;
        flex: 0 0 calc(100% - 16px);
      }
      &:last-child {
        margin-right: 0;
      }
      .special-card-label {
        color: $color-black;
        font-weight: bold;
        margin-bottom: 4px;
      }
      .special-card-event {
        flex: 1;
        color: $color-black;
        .special-card-event-name {
          font-weight: 600;
          font-size: 16px;
          margin-bottom: 4px;
        }
        .special-card-betOffers {
          .special-card-betOffer {
            display: flex;
            .special-card-betOffer-outcome {
              font-weight: 600;
            }
            .special-card-betOffer-criterion {
            }
          }
        }
      }
      .special-card-odds {
        margin-top: 8px;
        box-sizing: border-box;
        flex: 0 0 37px;
        background: #E7EAEE;
        padding: 0.5em 0;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        overflow: hidden;
        color: $color-orange;
        font-weight: 600;
        &.active {
          background: $color-orange;
          color: white;
        }
      }
    }
  }
  .events-list-container {
    position: relative;
    padding: 0 8px;
  }
  .events-list-wrapper {
  }
  .events-list-header {
    display: flex;
    padding: 8px;
    align-items: flex-end;
    justify-content: space-between;
    .heading {
      margin-bottom: 0;
    }
    .league-icon {
      width: 16px;
      height: 16px;
      margin-right: 4px;
    }
  }
  .events-list-info {
    display: flex;
    padding: 0 8px 4px;
    align-items: center;
    .subheading {
      flex: 0 0 45%;
      margin: 0 8px 0 0;
    }
    .event-betinfo-cols {
      flex: 1;
      display: flex;
      justify-content: space-between;
      .event-betinfo-col {
        flex: 1;
        text-align: center;
      }
    }
  }
  .events-list {
    .event-details {
      margin: 0 0 1em;
      border-radius: 15px;
      overflow: hidden;
      background: #F7F8F9;
      .event-content {
        padding: 8px;
        .event-teams {
          .event-team {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 600;
            margin-bottom: 2px;
            &:last-child {
              margin-bottom: 0;
            }
            .event-team-name {
              flex: 0 0 45%;
              font-size: 13px;
              margin-right: 8px;
              display: flex;
              align-items: center;
              .score {
                background: #000;
                color: white;
                display: inline-block;
                text-align: center;
                width: 2em;
                height: 100%;
                margin-right: 4px;
              }
            }
            .event-betinfo-cells {
              flex: 1;
              display: flex;
              font-size: 11px;
              .event-betinfo-cell {
                min-height: 37px;
                box-sizing: border-box;
                flex: 1;
                background: #E7EAEE;
                padding: 0.5em 0;
                margin-left: 2px;
                border-radius: 8px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                white-space: nowrap;
                overflow: hidden;
                .text2, .text {
                  color: $color-orange;
                }
                &.suspended {
                  color: #ABABAB;
                  background: #DCDCDC;
                  .text2, .text {
                    display: none;
                  }
                }
                &.empty {
                  background: transparent;
                }
                &.active {
                  background: $color-orange;
                  color: white;
                  .text2, .text {
                    color: white;
                  }
                }
              }
              &.dim {
                .event-betinfo-cell {
                  background: #DCDCDC;
                }
              }
            }
          }
        }
      }
      .event-footer {
        padding: 8px 15px;
        display: flex;
        justify-content: space-between;
        background: #E7EAEE;
        .event-status {
          color: $color-orange;
          border: solid 1px $color-orange;
          border-radius: 15px;
          font-size: 9px;
          font-weight: 700;
          padding: 1px 5px;
          margin-right: 0.5em;
        }
        a {
          text-decoration: none;
          font-weight: 600;
        }
      }
    }
  }
}
