$color-orange: #FB4F14;
$color-black: #030515;

.carousel .control-arrow,.carousel.carousel-slider .control-arrow{-webkit-transition:all .25s ease-in;-moz-transition:all .25s ease-in;-ms-transition:all .25s ease-in;-o-transition:all .25s ease-in;transition:all .25s ease-in;opacity:.4;filter:alpha(opacity=40);position:absolute;z-index:2;top:20px;background:none;border:0;font-size:32px;cursor:pointer}.carousel .control-arrow:focus,.carousel .control-arrow:hover{opacity:1;filter:alpha(opacity=100)}.carousel .control-arrow:before,.carousel.carousel-slider .control-arrow:before{margin:0 5px;display:inline-block;border-top:8px solid transparent;border-bottom:8px solid transparent;content:''}.carousel .control-disabled.control-arrow{opacity:0;filter:alpha(opacity=0);cursor:inherit;display:none}.carousel .control-prev.control-arrow{left:0}.carousel .control-prev.control-arrow:before{border-right:8px solid #fff}.carousel .control-next.control-arrow{right:0}.carousel .control-next.control-arrow:before{border-left:8px solid #fff}.carousel-root{outline:none}.carousel{position:relative;width:100%}.carousel *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.carousel img{width:100%;display:inline-block;pointer-events:none}.carousel .carousel{position:relative}.carousel .control-arrow{outline:0;border:0;background:none;top:50%;margin-top:-13px;font-size:18px}.carousel .thumbs-wrapper{margin:20px;overflow:hidden}.carousel .thumbs{-webkit-transition:all .15s ease-in;-moz-transition:all .15s ease-in;-ms-transition:all .15s ease-in;-o-transition:all .15s ease-in;transition:all .15s ease-in;-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-ms-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);position:relative;list-style:none;white-space:nowrap}.carousel .thumb{-webkit-transition:border .15s ease-in;-moz-transition:border .15s ease-in;-ms-transition:border .15s ease-in;-o-transition:border .15s ease-in;transition:border .15s ease-in;display:inline-block;margin-right:6px;white-space:nowrap;overflow:hidden;border:3px solid #fff;padding:2px}.carousel .thumb:focus{border:3px solid #ccc;outline:none}.carousel .thumb.selected,.carousel .thumb:hover{border:3px solid #333}.carousel .thumb img{vertical-align:top}.carousel.carousel-slider{position:relative;margin:0;overflow:hidden}.carousel.carousel-slider .control-arrow{top:0;color:#fff;font-size:26px;bottom:0;margin-top:0;padding:5px}.carousel.carousel-slider .control-arrow:hover{background:rgba(0,0,0,0.2)}.carousel .slider-wrapper{overflow:hidden;margin:auto;width:100%;-webkit-transition:height .15s ease-in;-moz-transition:height .15s ease-in;-ms-transition:height .15s ease-in;-o-transition:height .15s ease-in;transition:height .15s ease-in}.carousel .slider-wrapper.axis-horizontal .slider{-ms-box-orient:horizontal;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-moz-flex;display:-webkit-flex;display:flex}.carousel .slider-wrapper.axis-horizontal .slider .slide{flex-direction:column;flex-flow:column}.carousel .slider-wrapper.axis-vertical{-ms-box-orient:horizontal;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-moz-flex;display:-webkit-flex;display:flex}.carousel .slider-wrapper.axis-vertical .slider{-webkit-flex-direction:column;flex-direction:column}.carousel .slider{margin:0;padding:0;position:relative;list-style:none;width:100%}.carousel .slider.animated{-webkit-transition:all .35s ease-in-out;-moz-transition:all .35s ease-in-out;-ms-transition:all .35s ease-in-out;-o-transition:all .35s ease-in-out;transition:all .35s ease-in-out}.carousel .slide{min-width:100%;margin:0;position:relative;text-align:center}.carousel .slide img{width:100%;vertical-align:top;border:0}.carousel .slide iframe{display:inline-block;width:calc(100% - 80px);margin:0 40px 40px;border:0}.carousel .slide .legend{-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;position:absolute;bottom:40px;left:50%;margin-left:-45%;width:90%;border-radius:10px;background:#000;color:#fff;padding:10px;font-size:12px;text-align:center;opacity:0.25;-webkit-transition:opacity .35s ease-in-out;-moz-transition:opacity .35s ease-in-out;-ms-transition:opacity .35s ease-in-out;-o-transition:opacity .35s ease-in-out;transition:opacity .35s ease-in-out}.carousel .control-dots{position:absolute;bottom:0;margin:10px 0;padding:0;text-align:center;width:100%;z-index:1}@media (min-width: 960px){.carousel .control-dots{bottom:0}}.carousel .control-dots .dot{-webkit-transition:opacity .25s ease-in;-moz-transition:opacity .25s ease-in;-ms-transition:opacity .25s ease-in;-o-transition:opacity .25s ease-in;transition:opacity .25s ease-in;opacity:.3;filter:alpha(opacity=30);box-shadow:1px 1px 2px rgba(0,0,0,0.9);background:#fff;border-radius:50%;width:8px;height:8px;cursor:pointer;display:inline-block;margin:0 8px}.carousel .control-dots .dot.selected,.carousel .control-dots .dot:hover{opacity:1;filter:alpha(opacity=100)}.carousel .carousel-status{position:absolute;top:0;right:0;padding:5px;font-size:10px;text-shadow:1px 1px 1px rgba(0,0,0,0.9);color:#fff}.carousel:hover .slide .legend{opacity:1}

.listviewmatches-container {
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 10px;
  position: relative;

  color: $color-black;
  .color-black {
    color: $color-black;
  }
  .color-orange {
    color: $color-orange;
  }

  .listviewmatches-nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding: 14px 12px;
    background: #FFF;
    z-index: 9999;
    box-shadow: 0px 5px 10px 0px #97A0B242;
    .nav-link {
      font-size: 13px;
      font-weight: 600;
      margin: 0 12px;
      text-decoration: none;
      color: #64748B;
      &.active {
        color: $color-orange;
      }
    }
  }
  .specials-container {
    position: relative;
    padding: 1em 0;
    margin-top: 64px;
  }
  .specials-wrapper {
    // display: flex;
    // flex-wrap: nowrap;
    // overflow: auto;
    .specials-card {
      height: 100%;
      border-radius: 15px;
      overflow: hidden;
      background: #F7F8F9;
      padding: 8px;
      margin: 0 8px;
      display: flex;
      flex-direction: column;
      font-size: 12px;
      line-height: 1.4;
      @media only screen and (max-width: 480px) {
        // min-width: 320px;
        // flex: 0 0 calc(100% - 16px);
      }
      .special-card-label {
        color: $color-black;
        font-weight: bold;
        margin-bottom: 4px;
        text-align: left;
      }
      .special-card-event {
        flex: 1;
        color: $color-black;
        .special-card-event-name {
          font-weight: 600;
          font-size: 16px;
          margin-bottom: 4px;
          text-align: left;
        }
        .special-card-betOffers {
          .special-card-betOffer {
            display: flex;
            .special-card-betOffer-outcome {
              font-weight: 600;
            }
            .special-card-betOffer-criterion {
            }
          }
        }
      }
      .special-card-odds {
        margin-top: 8px;
        box-sizing: border-box;
        flex: 0 0 37px;
        background: #E7EAEE;
        padding: 0.5em 0;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        overflow: hidden;
        color: $color-orange;
        font-weight: 600;
        &.active {
          background: $color-orange;
          color: white;
        }
      }
    }
  }
  .events-list-container {
    position: relative;
    padding: 0 8px;
  }
  .events-list-wrapper {
  }
  .events-list-header {
    display: flex;
    padding: 8px;
    align-items: flex-end;
    justify-content: space-between;
    .heading {
      margin-bottom: 0;
    }
    .league-icon {
      width: 16px;
      height: 16px;
      margin-right: 4px;
    }
  }
  .events-list-info {
    display: flex;
    padding: 0 8px 4px;
    align-items: center;
    .subheading {
      flex: 0 0 45%;
      margin: 0 8px 0 0;
    }
    .event-betinfo-cols {
      flex: 1;
      display: flex;
      justify-content: space-between;
      .event-betinfo-col {
        flex: 1;
        text-align: center;
      }
    }
  }
  .events-list {
    .event-details {
      margin: 0 0 1em;
      border-radius: 15px;
      overflow: hidden;
      background: #F7F8F9;
      .event-content {
        padding: 8px;
        .event-teams {
          .event-team {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 600;
            margin-bottom: 2px;
            &:last-child {
              margin-bottom: 0;
            }
            .event-team-name {
              flex: 0 0 45%;
              font-size: 13px;
              margin-right: 8px;
              display: flex;
              align-items: center;
              .score {
                background: #000;
                color: white;
                display: inline-block;
                text-align: center;
                width: 2em;
                height: 100%;
                margin-right: 4px;
              }
            }
            .event-betinfo-cells {
              flex: 1;
              display: flex;
              font-size: 11px;
              .event-betinfo-cell {
                min-height: 37px;
                box-sizing: border-box;
                flex: 1;
                background: #E7EAEE;
                padding: 0.5em 0;
                margin-left: 2px;
                border-radius: 8px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                white-space: nowrap;
                overflow: hidden;
                .text2, .text {
                  color: $color-orange;
                }
                &.suspended {
                  color: #ABABAB;
                  background: #DCDCDC;
                  .text2, .text {
                    display: none;
                  }
                }
                &.empty {
                  background: transparent;
                }
                &.active {
                  background: $color-orange;
                  color: white;
                  .text2, .text {
                    color: white;
                  }
                }
              }
              &.dim {
                .event-betinfo-cell {
                  background: #DCDCDC;
                }
              }
            }
          }
        }
      }
      .event-footer {
        padding: 8px 15px;
        display: flex;
        justify-content: space-between;
        background: #E7EAEE;
        .event-status {
          color: $color-orange;
          border: solid 1px $color-orange;
          border-radius: 15px;
          font-size: 9px;
          font-weight: 700;
          padding: 1px 5px;
          margin-right: 0.5em;
        }
        a {
          text-decoration: none;
          font-weight: 600;
        }
      }
    }
  }
}
